<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>예약 성공</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<header th:replace="~{/layout/header :: header-basic}"></header>
<main class="container">
    <h1>예약 성공</h1>
    <p>숙소 예약이 성공적으로 완료되었습니다.</p>
    <a href="/SleepOn" class="btn btn-primary">메인 페이지로 이동</a>
</main>
<footer th:replace="~{/layout/footer :: footer}"></footer>
</body>
</html>
